[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GimmeMyPlot"]
	path = GimmeMyPlot
	url = https://github.com/ecamenen/gimmemyplot
[submodule "MainExistingDatasets"]
	path = MainExistingDatasets
	url = https://github.com/cran/MainExistingDatasets
[submodule "tcgaViz"]
	path = tcgaViz
	url = https://github.com/ecamenen/tcgaviz
